HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
get-spring.py
.gitignore
full_project_source.txt
src/main/java/com/duyminhdev/cf_manager/docs_for_llm/core_business_implement/PHASE 1.txt
src/main/java/com/duyminhdev/cf_manager/docs_for_llm/core_business_implement/PHASE 1.txt
src/main/java/com/duyminhdev/cf_manager/docs_for_llm/core_business_implement/PHASE 3..txt
src/main/java/com/duyminhdev/cf_manager/docs_for_llm/database_data/base.sql


src\main\java\com\duyminhdev\cf_manager\docs_for_llm
